<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTP-8">
        <title>Страница Администратора</title>
        <link rel="stylesheet" href="../static/Main.css">
    </head>
    <body>
        <div class="navbar"> 
            <a href="main">ГЛАВНАЯ - выход</a>

        </div>
        <div>
            <header>
                <h1 style="text-align: center;">Панель администратора</h1> <br><br>               
                <h2 style="text-align: center;">Добрый день, Администратор! Продуктивного дня</h2> <br><br> 
            </header>
        </div >
        <div class="navbar">
            <a href="#" >Настройки</a>
            <a href="#">Пользователи</a>
            <a href="#">Черный список</a>
            <a href="#">Текущие заказы и ответственные за них</a>  
            <a href="#">Выполненные заказы</a> 
            <a href="#">Отзывы на проверку</a>
            <a href="#">Смены сотрудников</a>
        
        </div>
    </body>

</html>

