<!DOCTYPE html>
<html lang="en">
    <head> 
        <title>Отзывы</title>
        <meta charset="UTP-8">    
        <link rel="stylesheet" href="../static/Main.css">
    </head>
    <body>
        <div class="navbar">             
            <a href="Main.html">Главная</a>
            <a href="Photo.html">Транспорт</a>
            <a href="Staff.html">Наши самые лучшие сотрудники во всем мире</a>
        </div>
        <title>Отзывы</title>
        <div class="container">
            <h3>Отзывы</h3>
           <div class="response">
               <div class="response">    
                   <h4>Имя пользователя : Адина Астра</h4>
                   <p>Текст отзыва : Прекрасная компания, пользуюсь услугами уже не в первый раз.</p>
               </div>
                    <div class="response">
                        <h4>Имя пользователя : Брюс</h4>
                    <p>Текст отзыва :  Решил впервые повезти свой электробус в Майами. Получил незабываемые впечатления! Обязательно воспользуюсь еще раз.</p>
                </div>  

                <div class="response">
                        <h4>Имя пользователя : Миссис Миранда</h4>
                        <p>Текст отзыва : Замечательная работа службы поддержки, малое время транспортировки, к моему любимому электробусу относились бережно, осталась довольна. </p>
                    </div>
                    <div class="response">
                        <h4>Имя пользователя : Ольга</h4>
                        <p>Текст отзыва :Все отлично. Сервисом доволен. Заказал, оплатил, доставили . Никаких проблем, все в срок.</p>
                    </div>  
                    <div class="response">
                        <h4>Имя пользователя : Игорь</h4>
                        <p>Текст отзыва :Всё мега круто! Первый раз решил отвезти свой электробус в Париж, было многое не понятно. Закидал сотрудников вопросами компании, мне четко рассказали как происходит процесс, за что отдельное спасибо. Электробус пришел в идеальном состоянии, как отправлял.  </p>
                    </div>
                    <div class="response">
                        <h4>Имя пользователя : Александр</h4>
                        <p>Текст отзыва : Привезли быстро, все четко.</p>
                    </div>
                    <div class="response">
                        <h4>Имя пользователя : Михаил</h4>
                        <p>Текст отзыва :Спасибо за транспортировку электробуса!!! Очень внимательно выслушали и дали ответы на все вопросы, ребятам можно доверять</p>
                    </div>  
                <div class="response">
                    <h4>Имя пользователя :Стэн Боровски</h4>
                    <p>Текст отзыва : Максимальная вовлеченность сотрудников в процесс переговоров, вежливость и оперативность просто вынуждабт поставить 5 из 5 за работу и результат.  </p>
                </div>
                    <h4>Если Вы написали отзыв - скидка на 10% к следующему заказу!!</h4>
                </div>
           <form class="appeal">
               <input type="text" placeholder="Ваше имя" id="Firstname">
               <textarea placeholder="Оставьте свой отзыв" id="Reviews"></textarea>
               <button type="button" onclick="send()" class="inputOTPR" >отправить</button>
           </form>
       </div>

       <script>
        function send()
        {
            document.getElementById("Firstname").value =""
            document.getElementById("Reviews").value =""

        }
    </script>
    </body>
</html>
