<!DOCTYPE html>
<html>
    <head> 
        <title>Title</title>
        <meta charset="UTP-8">
        <link rel="stylesheet" href="../static/Main.css">
    </head>
    <body>
        <div class="header">
            <img src="../static/Electro2.jpeg">
            <h1>ElectricBus Logistics</h1>
        </div>
        <div class="navbar"> 
            <a href="Feedback.html">Отзывы (без предложений)</a>
            <a href="Staff.html">Наши самые лучшие сотрудники во всем мире</a>
            <a href="Photo.html">Транспорт</a>
        </div>
        <div class="at">
            <p2> Хотите перевезти свой электробус? Вы обратились по адресу! Мы - лучший сервис по перевозке электробусов, который доставит Ваш любимый транспорт в любую точку мира бережно и быстро! 
            </p2>
        </div>
        <form class="appeal">
                <h3>Хотите сделать заказ? Авторизуйтесь<br> Для нас нет преград, доставляем любое количество электробусов и по воде, и по суше, и по воздуху!
                </h3><br />                   
            <button type="button" onclick="clean()" class="inputOTKR" >ВОЙТИ</button>
            <div class="connection">
                <h4> Телефон для связи : 8 985 420 16 20 </h4>
            </div>
        </form>
        <script>
            function clean()
            {
                window.open("/login", "_self");
            }
        </script>
    </body>
</html>