<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTP-8">
        <link rel="stylesheet" href="../static/Main.css">
        <title>Информация</title>
    </head>

    <body style="background-color: rgb(104, 159, 242);">
        <div class="navbar">             
            <a href="Main.html">Главная</a>
            <a href="Feedback.html">Отзывы (без предложений)</a>
            <a href="Staff.html">Наши самые лучшие сотрудники во всем мире</a>
        </div>
        <h1 style="text-align: center;">Транспорт, на котором мы осуществляем перемещение электробусов</h1>
        <h2 style="text-align: center;">Транспорт, представленный на этой странице, находиться в нашем личном владении. Если Ваш электробус не подходит по размеру или точка доставки находиться вне проходимости нашего транспорта, не беспокойтесь, мы САМИ найдем подходящий транспорт!</h2>
        <div class="photo">
            <div class="photo">
                <p style="font-size: 20px;">Ил-76</p>
            </div>
            <div class="photo">
                <p style="font-size: 20px;"> Баржа пт 82008</p>
            </div>
            <div class="photo" >
                <p style="font-size: 20px;">Faymonville MAXTRAILER max500</p>
            </div>
        </div>
    </body>
</html>
