<!DOCTYPE html>
<html>
    <head>
        <title>Сотрудники компании</title>
        <meta charset="UTP-8">    
        <link rel="stylesheet" href="../static/Main.css">
    </head>
    <body>
        <div class="navbar">             
            <a href="Main.html">Главная</a>
            <a href="Feedback.html">Отзывы (без предложений)</a>
            <a href="Photo.html">Транспорт</a>
        </div>
        <h1>Сотрудники компании</h1>
        <div class="employee">
            <h2>ПогладьЗаУшком</h2>
            <p>Должность: Сотрудник службы поддержки</p>
            <p>Телефон: 123-456-7890</p>
        </div>

        <div class="employee">
            <h2>ПочешиПузо</h2>
            <p>Должность: Сотрудник службы поддержки</p>
            <p>Телефон: 7 985 </p>
        </div>
        <div class="employee">
            <h2>Борис Джонсон</h2>
            <p>Должность: Сотрудник службы поддержки</p>
            <p>Телефон: 123-456-7890</p>
        </div>
        <div class="employee">
            <h2>Мурчанский</h2>
            <p>Должность: Сотрудник службы поддержки</p>
            <p>Телефон: 456-789-0123</p>
        </div>

</body>
</html>
